<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="editor-pick-section">
        <div class="editor-pick-section-container">
            <div class="editor-pick-image">
                <!-- background image -->
            </div>
            <div class="editor-pick-write-up">
                <div class="editor-small-title">editor's pick</div>
                <h2>News Needs to Meet Its Audiences Where They Are</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi 
                    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.editor-pick-section .editor-pick-section-container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    /* fr - fraction */
    /* grid-template-columns: 50% 50%; */
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
}
.editor-pick-section .editor-pick-section-container .editor-pick-write-up{
    background-color: rgba(240, 238, 238, 0.958);
    padding: 40px;
    font-family: sans-serif;
}
.editor-pick-section .editor-pick-section-container .editor-pick-write-up p{
    margin-bottom: 20px;

}
.editor-pick-section .editor-pick-section-container .editor-pick-write-up .editor-small-title{
    color: grey;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 12px;
}
.editor-pick-section .editor-pick-section-container .editor-pick-image{
    height: 400px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1622021142947-da7dedc7c39a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
